body{

    background-color: blueviolet;

}


h1{
display: flex;
background-color: black;
color: aliceblue;
border-radius: 30px;
text-align: center;
margin-left: 30%;
margin-right: 30%;

}